<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>Yay for: {{.}}</h1>
{{$variable := .}}
<h2>The variable is {{$variable}}</h2>
</body>
</html>
