<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{.}}

{{. | fdbl}}

{{. | fdbl | fsq 2}}

{{. | fdbl | fsq 4 | fsqrt}}

</body>
</html>
